<form class="container" layout vertical center ng-submit="test()">
	<form-card>
		<h2>Login</h2>
		<paper-input floatingLabel>
			<paper-input-decorator label="Email" floatingLabel>
				<input is="core-input" type="email" ng-model="userAuthData.email">
			</paper-input-decorator>
		</paper-input>

		<paper-input floatingLabel>
			<paper-input-decorator label="Password" floatingLabel>
				<input is="core-input" type="password" ng-model="userAuthData.password">
			</paper-input-decorator>
		</paper-input>

		<input style="display:none" type="submit">
	</form-card>
</form>